body {
  margin: 0; }

header {
  background: url("../images/backgroundheader.png");
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }
  header nav {
    z-index: 1000; }
    header nav ul li a {
      color: #ffffff !important; }
    header nav ul .fb {
      border-radius: 5px;
      background: #4267B2;
      text-align: center; }
      header nav ul .fb .fa-facebook-f {
        padding: 5px; }
    header nav .logo {
      margin-right: 13.5%; }
    header nav .custom-toggler.navbar-toggler {
      border-color: #ffffff; }
    header nav .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  header .text {
    position: absolute;
    top: 177px;
    left: 0;
    right: 0; }
    header .text button {
      margin-top: 30px; }
    header .text h1 {
      font-size: 48px; }

p {
  font-size: 20px; }

h1 {
  font-size: 48px; }

.btn-pink {
  background: #B9256A;
  color: #ffffff; }

.partner {
  background: #F5F6FA;
  padding-bottom: 24px; }
  .partner p {
    padding-top: 30px; }

.features {
  margin-top: 45px; }
  .features h1 {
    margin-bottom: 42px; }
  .features .feature nav .dot {
    border: 2px solid #D8DDE6;
    border-radius: 25px;
    padding: 12px 25px 12px 25px;
    margin: 10px; }
  .features .feature nav .active {
    color: #B9256A;
    border: 2px solid #B9256A;
    font-weight: bold; }
  .features .feature .mobile {
    display: none; }
    .features .feature .mobile .dot {
      border: 2px solid #D8DDE6;
      border-radius: 25px; }
    .features .feature .mobile .active {
      color: #B9256A;
      border: 2px solid #B9256A;
      font-weight: bold; }
  .features .feature .mySlides #reply1 p {
    font-size: 32px; }

.thiswhy {
  margin-top: 150px;
  background: #F5F6FA; }
  .thiswhy h1 {
    padding-top: 37px;
    padding-bottom: 42px; }
  .thiswhy h4 {
    font-size: 20px; }
  .thiswhy p {
    font-size: 16px;
    color: #929AAE; }
  .thiswhy .articles img {
    margin-bottom: 32px; }

.price {
  margin-bottom: 75px; }
  .price h1 {
    margin-top: 41px; }
  .price .mobile .col-sm-4 {
    border: 1px solid #D8DDE6;
    margin-bottom: 15px; }
  .price .mobile h2 {
    font-size: 26px;
    padding-top: 24px; }
  .price .mobile .fa-star {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px 10px 10px 10px;
    background: #B9256A;
    color: #ffffff; }
  .price .mobile .fa-check {
    color: #B9256A; }
  .price .mobile .line {
    border-top: 1px dotted #e5e5e5; }
  .price .retail {
    color: #B9256A;
    font-size: 32px; }

.questions h1 {
  margin-bottom: 40px; }
.questions .question {
  border: 1px solid #D8DDE6; }
  .questions .question a {
    text-decoration: none;
    color: #1D243E;
    font-size: 18px; }
  .questions .question .arrow1 {
    position: absolute;
    top: 35px;
    left: 30px; }
  .questions .question .arrow2 {
    position: absolute;
    top: 25px;
    left: 30px; }
  .questions .question .ans p {
    color: #929AAE;
    font-size: 14px; }
.questions .questionbox {
  margin-bottom: 24px; }

.ideas {
  background: #F5F6FA;
  margin-top: 60px; }
  .ideas h1 {
    padding-top: 48px;
    padding-bottom: 32px; }
  .ideas .idea {
    background: #ffffff;
    border: 1px solid #D8DDE6;
    height: 400px;
    margin-bottom: 92px; }
    .ideas .idea img {
      margin-top: 60px;
      margin-bottom: 20px;
      background: #F5F6FA;
      border-radius: 50%; }
    .ideas .idea h5 {
      font-size: 16px;
      font-weight: bold; }
    .ideas .idea h6 {
      color: #929AAE; }
    .ideas .idea p {
      color: #929AAE;
      font-size: 16px;
      padding-right: 45px;
      padding-left: 45px; }

.buynow .bg {
  background: #F5F6FA;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #DADADA;
  border-radius: 15px 15px 0 0; }
.buynow .camera {
  width: 10px;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #929AAE;
  margin-left: 50%; }
.buynow h1 {
  padding-top: 84px;
  padding-bottom: 32px; }
.buynow button {
  margin-bottom: 60px; }

footer {
  line-height: 50px; }
  footer a {
    text-decoration: none;
    color: #1D243E; }

.line {
  border-top: 1px solid #DADADA; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #1D243E; }

.sticky1 {
  width: 100%;
  background: #1D243E; }

.reload {
  transform: rotate(-180deg); }

.pointer {
  cursor: pointer; }

@media screen and (max-width: 991px) {
  header nav ul .fb {
    margin-bottom: 1000px; }

  .ideas .idea p {
    padding-right: 15px;
    padding-left: 15px; } }
@media screen and (max-width: 575px) {
  .features .feature nav ul {
    width: 100%;
    display: inline; }
    .features .feature nav ul li {
      width: 30%;
      padding: 12px 0 12px 0 !important;
      float: left; }
  .features .feature nav .dot {
    margin: 5px; } }
@media screen and (max-width: 425px) {
  .features .feature nav {
    padding: 0; }
    .features .feature nav ul li {
      width: 33%;
      padding: 12px 0 12px 0 !important;
      float: left; }
    .features .feature nav .dot {
      margin: 0px;
      font-size: 13px; } }
@media screen and (max-width: 425px) {
  .features .feature nav .dot {
    font-size: 12px; } }
@media screen and (max-width: 320px) {
  .features .feature nav ul li {
    padding: 0 !important; }
  .features .feature nav .dot1 {
    line-height: 36px; } }

/*# sourceMappingURL=styles.css.map */
