body {
  margin: 0;
}
header {
	background: url('../images/backgroundheader.png');
	height: 640px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	nav {
		z-index: 1000;
		ul {
			li {
				a {
					color: #ffffff !important;
				}
			}
			.fb {
				border-radius: 5px;
				background: #4267B2;
				text-align: center;
				.fa-facebook-f {
					padding: 5px;
				}
			}
		}
		.logo {
			 margin-right: 13.5%;
		}
		.custom-toggler.navbar-toggler {
		    border-color: #ffffff;
		}
		.custom-toggler .navbar-toggler-icon {
		  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
	.text {
		position: absolute;
		top: 177px;
		left: 0;
		right: 0;
		button {
			margin-top: 30px;
		}
		h1 {
			font-size: 48px;
		}
	}
}
p {
	font-size: 20px;
}
h1 {
	font-size: 48px;
}
.btn-pink {
	background: #B9256A;
	color: #ffffff;
}
.partner {
	background: #F5F6FA;
	padding-bottom: 24px;
	p {
		padding-top: 30px;
	}
}
.features {
	margin-top: 45px;
	h1 {
	margin-bottom: 42px;
	}
	.feature {
		nav {
			.dot {
				border: 2px solid #D8DDE6;
				border-radius: 25px;
				padding: 12px 25px 12px 25px;
				margin: 10px;
			}
			.active {
				color: #B9256A;
				border: 2px solid #B9256A;
				font-weight: bold;
			}
		}
		.mobile {
			display: none;
			.dot {
				border: 2px solid #D8DDE6;
				border-radius: 25px;
			}
			.active {
				color: #B9256A;
				border: 2px solid #B9256A;
				font-weight: bold;
			}
		}
		.mySlides {
			#reply1 {
				p {
					font-size: 32px;
				}
			}
		}
	}
}
.thiswhy {
	margin-top: 150px;
	background: #F5F6FA;
	h1 {
		padding-top: 37px;
		padding-bottom: 42px;
	}
	h4 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
		color: #929AAE;
	}
	.articles {
		img {
			margin-bottom: 32px;
		}
	}
}
.price {
	margin-bottom: 75px;
	h1 {
		margin-top: 41px;
	}
	.mobile {
		display: none;
		.option {
			position: relative;
			border: 1px solid #D8DDE6;
			margin-bottom: 15px;
			.fa-star {
				position: absolute;
				top: 0;
				right: 10px;
				padding: 10px 10px 10px 10px;
				background: #B9256A;
				color: #ffffff;
			}
		}
		h2 {
			font-size: 26px;
			padding-top: 24px;
		}
		.fa-check {
			color:  #B9256A;
		}
		.line {
			border-top: 1px dotted #e5e5e5;
		}
	}
	.retail {
		color: #B9256A;
		font-size: 32px;
	}
}
.questions {
	h1 {
		margin-bottom: 40px;
	}
	.question {
		border: 1px solid #D8DDE6;
		a {
			text-decoration: none;
			color: #1D243E;
			font-size: 18px;
		}
		.arrow1 {
			position: absolute;
			top: 35px;
			left: 30px;
		}
		.arrow2 {
			position: absolute;
			top: 25px;
			left: 30px;
		}
		.ans {
			p {
				color: #929AAE;
				font-size: 14px;
			}
		}
	}
	.questionbox {
		margin-bottom: 24px;
	}
}
.ideas {
	background: #F5F6FA;
	margin-top: 60px;
	h1 {
		padding-top: 48px;
		padding-bottom: 32px;
	}
	.idea {
		background: #ffffff;
		border: 1px solid #D8DDE6;
		height: 400px;
		margin-bottom: 92px;
		img {
			margin-top: 60px;
			margin-bottom: 20px;
			background: #F5F6FA;
			border-radius: 50%;
		}
		h5 {
			font-size: 16px;
			font-weight: bold;
		}
		h6 {
			color: #929AAE;
		}
		p {
			color: #929AAE;
			font-size: 16px;
			padding-right: 45px;
			padding-left: 45px;
		}
	}

}
.buynow {
	.bg {
		background: #F5F6FA;
		border-width:2px 2px 0 2px;
		border-style:  solid;
		border-color: #DADADA;
		border-radius: 15px 15px 0 0;
	}
	.camera {
	width: 10px;
	height: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background: #929AAE;
	margin-left: 50%;
	}
	h1 {
		padding-top: 84px;
		padding-bottom: 32px;
	}
	button {
		margin-bottom: 60px;
	}

}
footer {
	line-height: 50px;
	.back {
		text-align: right;
		a {
			text-decoration: none;
			color: #1D243E;
		}
	}
	
}
.line {
	border-top: 1px solid #DADADA;	
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #1D243E;
}
.sticky1 {
  width: 100%;
  background: #1D243E;
}
.stickybutton {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #B9256A;
	text-align: center;
	z-index: 999;
	a {
		text-decoration: none;
		color: #ffffff;
		line-height: 38px;
	}
}
.reload{
	transform: rotate(-180deg);
	
}
.pointer {
	cursor: pointer;
}
@media screen and (max-width: 991px){
	header {
		nav {
			ul {
				li {
					a {
					}
				}
				.fb {
					margin-bottom: 1000px;
				}
			}
		}
	}
	.ideas {
		.idea {

			p {
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}
	.stickybutton {
		display: block;
	}
}
@media screen and (max-width: 768px){
	.price {
		.mobile {
			display: block;		}
	}
	.ideas {
		.idea {
			height: auto;
			margin-bottom: 15px;
		}
	}
} 
@media screen and (max-width: 575px){
	.partner {
		.partner4 {
			display: none;
		}
		.partner5 {
			display: none;
		}
	}
	.features {
		.feature {
			nav {
				ul {
					width: 100%;
					display: inline;
					li {
						width: 30%;
						padding: 12px 0 12px 0 !important;
						float: left;
					}
				}
				.dot {
					margin: 5px;
				}
			}
		}
	}
	footer {
		.back {
			text-align: left;
		}
	}
}
@media screen and (max-width: 425px){
	.features {
		.feature {
			nav {
				padding: 0;
				ul {
					li {
						width: 33%;
						padding: 12px 0 12px 0 !important;
						float: left;
					}
				}
				.dot {
					margin: 0px;
					font-size: 12px;
				}
			}
		}
	}
}
@media screen and (max-width: 413px){
	.partner {
		.col {
			img {
				width: 100px;
			}
		}
	}
}
@media screen and (max-width: 375px){
	.partner {
		.col {
			padding: 0;
			img {
				width: 90px;
			}
		}
	}
}
@media screen and (max-width: 320px){
	.features {
		.feature {
			nav {
				ul {
					li {
						padding: 0 !important;
					}
				}
				.dot1 {
					line-height: 36px;
				}
			}
		}
	}
}